extend ./layout

block content
	.container
		form.adminEdit(method = 'post' action = '/editSubmit')
			input(name = 'article_id' value = '#{article.article_id}' type = 'hidden')
			p.cf
				span title:
				input(name = 'title' value = '#{article.title}')
			p.cf
				span content:
				textarea(name = 'detail') #{article.detail}
			div.submit
				button.btnsub(type = 'submit') Submit
				a.btnbak(onclick = 'window.location.href = "/admin"') Back